@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid rgb(7, 7, 7);
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    /*muuda image-container taustapilti*/
    .image-container{
    background-image: url('../img/profile1.jpg');
    }
    /*muuda dokumendi taustavärvi*/
    
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .container {
        width: 100%;
        background-color: bisque;
        color: rgb(197, 23, 23);
        border: 1px solid rgb(233, 35, 216);

    }
    

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
        border: 1px solid rgb(233, 35, 216);
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    
}


@media (min-width: 768px) {

    /*muuda image-container taustapilti*/
    .image-container{
        background-image: url('../img/profile2.jpg');
        }
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    .container {
        width: 100%;
        background-color: rgb(108, 187, 44);
        color: rgb(21, 88, 49);
        border: 1px solid rgb(16, 61, 46);

    }
}
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
        border: 1px solid rgb(15, 61, 38);
    }


@media (min-width: 1024px){
        
    /*muuda image-container taustapilti*/
    .image-container{
        background-image: url('../img/profile3.jpg');
        }
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    .container {
        width: 100%;
        background-color: rgb(44, 130, 187);
        color: rgb(117, 167, 196);
        border: 1px solid rgb(25, 33, 150);

    }
}
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
        border: 1px solid rgb(25, 33, 150);
    }




@media (min-width: 1200px){

    /*muuda image-container taustapilti*/
    .image-container{
        background-image: url('../img/profile4.jpg');
        }
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    .container {
        width: 100%;
        background-color: rgb(102, 29, 90);
        color: rgb(206, 102, 209);
        border: 1px solid rgb(48, 23, 36);

    }

    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid rgb(48, 23, 36);
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }

}


